.search-form {
  display: flex;
  justify-content: center;
  padding: 10 0 10 0;

  background-color: purple;
}
.search-form__input {
  outline: none;
  border-radius: 5px;
  border-color: white;
}
.search-form__input:focus {
  border-color: lightblue;
}
.search-form__btn {
  margin-left: 10px;
}
.gallery {
  padding: 10 0 10 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.photoCard {
}

.photoCard__img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
.photoCard__img:hover {
  scale: 1.1;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.load-more {
  border: none;
  background-color: purple;
  color: white;
}
.load-more:hover {
  background-color: rgb(85, 1, 85);
}
